<h1>Contact.</h1>
<p>Here are various platforms you can contact me on or see my work.</p>
<p>If you are interested in having me develop something for you independently, do not hesitate to reach out.</p>
<a href="mailto:knguyen@ngkdevelopment.fr"><button mat-fab matTooltip="Email" matTooltipPosition="below"><fa-icon [icon]="['fas', 'envelope']" size="lg"></fa-icon></button></a>
<a href="https://github.com/kvnngn" target="_blank"><button mat-fab matTooltip="GitHub" matTooltipPosition="below"><fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon></button></a>
<a href="https://www.linkedin.com/in/k%C3%A9vin-nguyen-b80167b9/" target="_blank"><button mat-fab matTooltip="LinkedIn" matTooltipPosition="below"><fa-icon [icon]="['fab', 'linkedin']" size="lg"></fa-icon></button></a>
<a href="https://www.facebook.com/kvn.ngn97" target="_blank"><button mat-fab matTooltip="Facebook Messenger" matTooltipPosition="below"><fa-icon [icon]="['fab', 'facebook-messenger']" size="lg"></fa-icon></button></a>
<a href="https://twitter.com/bykevinoun" target="_blank"><button mat-fab matTooltip="Twitter" matTooltipPosition="below"><fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon></button></a>
<a href="https://www.instagram.com/bykevinoun/" target="_blank"><button mat-fab matTooltip="Instagram" matTooltipPosition="below"><fa-icon [icon]="['fab', 'instagram']" size="lg"></fa-icon></button></a>
<br><br>
