<h1>{{getTimeGreeting()}}. My name is Kévin.</h1>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header class="about-me-card-header">
        <div mat-card-avatar class="headshot"></div>
        <mat-card-content class="about-me-desc">
          I am a {{getAge()}}-year-old guy who loves the cutting-edge of technology. Freelance since 2018. I had the opportunity to work on various missions (mainly health and banking) such as working on a CRM (customer relationship management),
          a PWA (Progressive Web App) intended for the management of drug delivery and front-end redesigns of existing product.
          I would be glad to advice and help with my experience.
        </mat-card-content>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<h2>Things</h2>
<div class="row">
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <fa-icon [icon]="['fas','desktop']"></fa-icon> Laptop
        </mat-card-title>
        <mat-card-subtitle>
          Macbook Pro
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        When it comes to programming, your comfort and preference come first.
        Programming should be a fun experience and therefore and you should stick to a platform that you understand
        and that works well with the kind of work you are doing. If you are a full-time programmer,
        however, you need to consider the benefits the MAC OS offers and I would suggest you work with it.
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.apple.com/fr/shop/buy-mac/macbook-pro" target="_blank">Referral
          Link</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <fa-icon [icon]="['fas','mobile-alt']"></fa-icon> Phone
        </mat-card-title>
        <mat-card-subtitle>
          Iphone X
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        I am not a big Iphone guy but this phone has simply the qualities enough to convince me by its camera and OS and common features
        with my laptop and AirPods.
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.apple.com/iphone/" target="_blank">Referral Link</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<h2>Education</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="epitech-header-image"></div>
        <mat-card-title>Master's degree</mat-card-title>
        <mat-card-subtitle>Epitech European Institute of Technology</mat-card-subtitle>
        <mat-card-subtitle>2015 - 2020</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Epitech is a school of computer science created in 1999 which trains in 5 years after-bac experts in the sector.
        Epitech makes possible to transform a passion into expertise through an innovative pedagogy, organized by projects.
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12 mt-2">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="cau-header-image"></div>
        <mat-card-title>Exchange program</mat-card-title>
        <mat-card-subtitle>Chung Ang University</mat-card-subtitle>
        <mat-card-subtitle>2018 - 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Exchange student at Chung Ang University in Seoul.
        Learned web, mobile, video games conception and computer architecture.

        Also learned Korean elementary language and culture.
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12 mt-2">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="eluard-header-image"></div>
        <mat-card-title>High-school</mat-card-title>
        <mat-card-subtitle>Lycée Paul eluard</mat-card-subtitle>
        <mat-card-subtitle>2014 - 2015</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Baccalauréat (S)
      </mat-card-content>
    </mat-card>
  </div>
</div>
<h2>Experience</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="pharmacy-header-image"></div>
        <mat-card-title>Pharmacie</mat-card-title>
        <mat-card-subtitle>Créteil, France </mat-card-subtitle>
        <mat-card-subtitle>Nov 2020 - Sept 2020</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Provided SSR Progressive Web App (Angular 8) in order to manage pharmacie deliveries (drugs and medical kits) using a customized API (NodeJS/AWS/MongoDB).
        The mobile app intended for couriers, make it possible to do an optimization of multiple itineraries using Microsoft Maps API.
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="arrow-header-image"></div>
        <mat-card-title>Arrow ECS</mat-card-title>
        <mat-card-subtitle>Courbevoie, Île-de-France, France</mat-card-subtitle>
        <mat-card-subtitle>Jun 2015 - Sep 2015 &amp; May 2017 - Sep 2016</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Working on billing solutions with Amazon Web Services.
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="taker-header-image"></div>
        <mat-card-title>Taker</mat-card-title>
        <mat-card-subtitle>Le Kremlin-Bicêtre, France</mat-card-subtitle>
        <mat-card-subtitle>Aug 2015 - Oct 2015</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Project management and development.
        - Study and realization of the specifications.
        - Weekly delivery of the work done by the teams of developers
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="partech-header-image"></div>
        <mat-card-title>Partech</mat-card-title>
        <mat-card-subtitle>Remote</mat-card-subtitle>
        <mat-card-subtitle>Aug 2018 - Mar 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Developped a local Customer-relationship management (CRM).

        - Study and realization of the specifications for API using MongoDB, Graphql, ElasticSearch and a ReactJS website.
        - Weekly delivery of the work done by the teams of 4 developers.
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="sg-header-image"></div>
        <mat-card-title>Société Générale</mat-card-title>
        <mat-card-subtitle>Remote</mat-card-subtitle>
        <mat-card-subtitle>Nov 2019 - Dec 2020</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Worked for METIS, a Société Générale internal start-up. Developed an Angular website dedicated on the Model Risk Management.
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="libheros-header-image"></div>
        <mat-card-title>Libheros</mat-card-title>
        <mat-card-subtitle>Châtelet, Paris, France</mat-card-subtitle>
        <mat-card-subtitle>Aug 2018 - Mar 2020</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Structured and maintained 8 products (Node, Sequelize, MongoDB, SQL, Ionic, Angular)
        In charge of the platform dedicated to health professionals.
      </mat-card-content>
    </mat-card>
  </div>
</div>

<h2>Knowledge</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <p>Here are some technologies that I have used before and know how to use. I am better with some more than others.
      </p>
      <h4>Languages</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;C++
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;C
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'python']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Python
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'html5']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;HTML
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'css3-alt']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;CSS
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;TypeScript
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'js-square']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;JavaScript
        </mat-chip>
      </mat-chip-list>
      <h4>Architecture</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Amazon Web Services
        </mat-chip>
      </mat-chip-list>
      <h4>Web Frameworks</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fab', 'angular']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Angular
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;ReactJS
        </mat-chip>
      </mat-chip-list>
      <h4>Databases</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'database']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;MongoDB
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'database']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;MySQL
        </mat-chip>
      </mat-chip-list>
      <h4>Version Control</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code-branch']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Git
        </mat-chip>
      </mat-chip-list>
      <h4>Platforms</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'mouse-pointer']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Web
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Android
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Windows
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'apple']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;iOS
        </mat-chip>
      </mat-chip-list>
      <h4>IDEs</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'mouse-pointer']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Visual Studio Code
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Android Studio
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Intellij IDEA
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Emacs
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'apple']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;XCode
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
</div>
